extends ../../layout/layout

block content
	.front-page
		section.header
			.swiper#header-bg-swiper._anim
				.swiper-wrapper
					.swiper-slide
						+picture('about-bg-1','jpg').header_bg-slide
					.swiper-slide
						+picture('about-bg-2','jpg').header_bg-slide
					.swiper-slide
						+picture('about-bg-3','jpg').header_bg-slide
					.swiper-slide
						+picture('about-bg-4','jpg').header_bg-slide
					.swiper-slide
						+picture('about-bg-5','jpg').header_bg-slide
					.swiper-slide
						+picture('about-bg-6','jpg').header_bg-slide
			.container
				.header__content
					.header__content-text
						h1.header__title.title Камчатка Шале
						h4.header__subtitle.text первый в истории Камчатки пятизвездочный отель
							
					.header__swiper-control
						svg#header-bg-swiper-next.header__swiper-arrow(fill='none', xmlns='http://www.w3.org/2000/svg')
							path(d='M0 17.5L97.5 17.5M97.5 17.5C90.8789 17.5 76.4684 14.9333 76.4684 4.72156e-07M97.5 17.5C90.8789 17.5 76.4684 20.0667 76.4684 35')
						.header__swiper-progress
							svg.header-timer(width='142', height='142', xmlns='http://www.w3.org/2000/svg')
								g(fill='none', stroke='none')
									circle(stroke-width='1', stroke='#ffffff80', cx='50%', cy='50%', r='70')
								path#timer-path.header-timer__path-remaining(fill='none', d='M 71 71 m -70, 0 a 70,70 0 1,0 140,0 a 70,70 0 1,0 -140,0')
							p
								span#header-cur-slide 01
								|  /

								span#header-count-slides 08
				.booking-form
					<div id='block-search'>
						<div id='tl-search-form' class='tl-container'>
							<noindex><a href='https://www.travelline.ru/products/tl-hotel/' rel='nofollow' target='_blank'>TravelLine</a></noindex>
						</div>
					</div>
					script.
						(function(w) {
							var q = [
								['setContext', 'TL-INT-kamchatkachalet_2023-04-13', 'ru'],
								['embed', 'search-form', {
									container: 'tl-search-form'
								}]
							];
							var h=["ru-ibe.tlintegration.ru","ibe.tlintegration.ru","ibe.tlintegration.com"];
							var t = w.travelline = (w.travelline || {}),
								ti = t.integration = (t.integration || {});
							ti.__cq = ti.__cq ? ti.__cq.concat(q) : q;
							if (!ti.__loader) {
							ti.__loader = true;
							var d=w.document,c=d.getElementsByTagName("head")[0]||d.getElementsByTagName("body")[0];
							function e(s,f) {return function() {w.TL||(c.removeChild(s),f())}}
							(function l(h) {
								if (0===h.length) return; var s=d.createElement("script");
								s.isReloadFuncSet = "set";s.type="text/javascript";s.async=!0;s.src="https://"+h[0]+"/integration/loader.js";
								s.onerror=s.onload=e(s,function(){l(h.slice(1,h.length))});c.appendChild(s)
							})(h);
						}
						})(window);
					</script>
		
		section.intro#intro(data-aos="fade-up")
			.container
				.intro__row
					p.intro__main-text#intro_main-text
						span Kamchatka Chalet
						|  — первый в истории Камчатки пятизвездочный отель
					.intro__compas-wrap 
						img(src="img/compas.png", alt="",data-aos="fade-up")
				
				.intro__row-2
					.intro__text-wrap
						p.intro__text#intro-text01(data-aos="fade-up")
							| Наши традиции гостеприимства прошли путь

							br
							| от экспедиций первооткрывателей Камчатки

							br
							| до самого восточного пятизвездочного отеля России…

						
						p.intro__text#intro-text02(data-aos="fade-up") Камчатка Шале 5* — вершина освоения полуострова. Гости отеля прикоснутся к наследию Камчатки, открывая для себя уникальную природу края и наслаждаясь безупречным сервисом.
					
					.intro__img-swiper-wrap
						.intro__compas-wrap-mob
							img(src="img/compas.png", alt="",data-aos="fade-up")
				
						.intro__img-swiper-box#intro-img-swiper-box(data-aos="fade-up")
							.swiper#intro-img-swiper
								.swiper-wrapper
									.swiper-slide
									img(src='img/intro_img01.webp', alt='landscape').swiper-slide
									img(src='img/intro_img01.webp', alt='landscape').swiper-slide
										
										
							.intro__swiper-status
								p.gradient-text#intro-cur-slide 01
								hr
								p.gradient-text#intro-count-slides 08
					.intro__lscape
						img#intro-img(src='img/intro_img02.webp', alt='landscape',data-aos="fade-up")
		section.about#about
			.container
				.about__logo#about-trigger(data-aos="fade-up")
					img(src='img/about_logo-dyn.svg', alt='logo')
					img(src='img/about_logo-fix.svg', alt='logo')
				div(data-aos="fade-up") 
					h1.about__title.title.gradient-text#about-title ОБ отеле
						
					p.about__text.text.gradient-text#about-text Гостей отеля ждут тридцать два роскошных номера, включая два номера класса «люкс», способных удовлетворить самые взыскательные вкусы и высокие ожидания. Часть номеров выполнены по образу корабельных кают великих первооткрывателей и исследователей Камчатки — «Беринг», «Дежнев», «Атласов», «Крашенинников»
						
					button.about__button.button#about-but
						span.gradient-text Подробнее об отеле
			.about__chalet#about-chalet(data-aos="fade-up")
				p.text.gradient-text Гости, чье предпочтение — максимальная приватность, могут остановить свой выбор на отдельно стоящих шале, площадью от 150 до 260 м². Каждое шале имеет собственный бассейн с геотермальной водой.
					
			.about__house#about-house
				img(src='img/about_house2.png', alt='house',data-aos="fade-up",data-aos-offset="50")
		<section class="habbit" id="habbit">
			<div class="container" data-aos="fade-up">
			<div class="habbit__head">
				<h1 class="habbit__title title">Проживание</h1>
				<div class="habbit-menu">
				<div class="habbit-menu__item active" data-filter="all">Все</div>
				<div class="habbit-menu__item" data-filter="number">Номера</div>
				<div class="habbit-menu__item" data-filter="chalet">Шале</div>
				</div>
			</div>
			<div class="habbit-card">
				<div class="swiper" id="habbit-img-swiper">
				<div class="swiper-wrapper">
					<div class="habbit-card__slide swiper-slide" data-filter="number"><img src="img/s-001.webp" alt="card image"><a class="habbit-card__plus" href="standart.html"></a></div>
					<div class="habbit-card__slide swiper-slide" data-filter="number"><img src="img/k-001.webp" alt="card image"><a class="habbit-card__plus" href="comfort.html"></a></div>
					<div class="habbit-card__slide swiper-slide" data-filter="number"><img src="img/j-001.webp" alt="card image"><a class="habbit-card__plus" href="junior.html"></a></div>
					<div class="habbit-card__slide swiper-slide" data-filter="number"><img src="img/js-001.webp" alt="card image"><a class="habbit-card__plus" href="junior-suite.html"></a></div>
					<div class="habbit-card__slide swiper-slide" data-filter="number"><img src="img/l-001.webp" alt="card image"><a class="habbit-card__plus" href="deluxe.html"></a></div>
					<div class="habbit-card__slide swiper-slide" data-filter="number"><img src="img/sh-001.webp" alt="card image"><a class="habbit-card__plus" href="chalet.html"></a></div>
				</div>
				</div>
				<div class="habbit-card__info-wrap">
				<div class="habbit-card__info-main">
					<div class="swiper" id="habbit-info-swiper">
					<div class="swiper-wrapper">
						<div class="habbit-card__slide swiper-slide" data-filter="number">
						<h3 class="habbit-card__lvl gradient-text">STANDARD</h3>
						<p class="habbit-card__desc gradient-text">Этот светлый, изысканный и компактный номер обладает всем необходимым для полного расслабления после увлекательно проведённого дня на Камчатке.</p>
						<div class="habbit-card__attr">
							<div class="habbit-card__attr-item">
							<h6>Площадь номера</h6>
							<p class=""><span class="gradient-text">20 м</span><sup><span class="gradient-text">2</span></sup></p>
							</div>
							<div class="habbit-card__attr-item">
							<h6>Вместимость</h6>
							<p class="gradient-text">2 человека</p>
							</div>
							<div class="habbit-card__attr-item">
							<h6>Удобства</h6>
							<p class="gradient-text">Двуспальная кровать QUEEN SIZE 160*200</p>
							</div>
						</div>
						<div class="habbit-card__buttons">
							<button class="button" onclick="location.href='/booking.html?tl-booking-open=true&room-type=228690'">Забронировать</button><a class="gradient-text" href="rooms.html">Все номера</a>
						</div>                      
						</div>
						<div class="habbit-card__slide swiper-slide" data-filter="number">
						<h3 class="habbit-card__lvl gradient-text">COMFORT</h3>
						<p class="habbit-card__desc gradient-text">Удобный однокомнатный номер для двоих. Приятный интерьер с яркими акцентами и увеличенная площадь номера создадут для вас уют и комфорт после камчатских приключений.</p>
						<div class="habbit-card__attr">
							<div class="habbit-card__attr-item">
							<h6>Площадь номера</h6>
							<p class=""><span class="gradient-text">26 м</span><sup><span class="gradient-text">2</span></sup></p>
							</div>
							<div class="habbit-card__attr-item">
							<h6>Вместимость</h6>
							<p class="gradient-text">2 человека</p>
							</div>
							<div class="habbit-card__attr-item">
							<h6>Удобства</h6>
							<p class="gradient-text">Двуспальная кровать QUEEN SIZE 180*200</p>
							</div>
						</div>
							<div class="habbit-card__buttons">
							<button class="button" onclick="location.href='/booking.html?tl-booking-open=true&room-type=228692'">Забронировать</button><a class="gradient-text" href="rooms.html">Все номера</a>
						</div>                        
						</div>
						<div class="habbit-card__slide swiper-slide" data-filter="number">
						<h3 class="habbit-card__lvl gradient-text">JUNIOR</h3>
						<p class="habbit-card__desc gradient-text">Номер категории Джуниор предлагает исключительный комфорт для каждого гостя.</p>
						<div class="habbit-card__attr">
							<div class="habbit-card__attr-item">
							<h6>Площадь номера</h6>
							<p class=""><span class="gradient-text">34 м</span><sup><span class="gradient-text">2</span></sup></p>
							</div>
							<div class="habbit-card__attr-item">
							<h6>Вместимость</h6>
							<p class="gradient-text">1 человек</p>
							</div>
							<div class="habbit-card__attr-item">
							<h6>Удобства</h6>
							<p class="gradient-text">Двуспальная кровать KING SIZE 180х200</p>
							</div>
						</div>
						<div class="habbit-card__buttons">
							<button class="button" onclick="location.href='/booking.html?tl-booking-open=true&room-type=228809'">Забронировать</button><a class="gradient-text" href="rooms.html">Все номера</a>
						</div>                       
						</div>
						<div class="habbit-card__slide swiper-slide" data-filter="number">
						<h3 class="habbit-card__lvl gradient-text">JUNIOR SUITE</h3>
						<p class="habbit-card__desc gradient-text">Прекрасный вариант для длительной поездки на Камчатку: просторный номер объединил в себе пространство для отдыха и вместительную гардеробную комнату.</p>
						<div class="habbit-card__attr">
							<div class="habbit-card__attr-item">
							<h6>Площадь номера</h6>
							<p class=""><span class="gradient-text">39 м</span><sup><span class="gradient-text">2</span></sup></p>
							</div>
							<div class="habbit-card__attr-item">
							<h6>Вместимость</h6>
							<p class="gradient-text">2 человека</p>
							</div>
							<div class="habbit-card__attr-item">
							<h6>Удобства</h6>
							<p class="gradient-text">Двуспальная кровать EURO 200х200</p>
							</div>
						</div>
							<div class="habbit-card__buttons">
							<button class="button" onclick="location.href='/booking.html?tl-booking-open=true&room-type=228810'">Забронировать</button><a class="gradient-text" href="rooms.html">Все номера</a>
						</div>                       
						</div>

						<div class="habbit-card__slide swiper-slide" data-filter="number">
						<h3 class="habbit-card__lvl gradient-text">DELUXE</h3>
						<p class="habbit-card__desc gradient-text">Номера категории Deluxe с лаконичным, современным дизайном, располагают просторной гостиной и отдельной спальней.</p>
						<div class="habbit-card__attr">
							<div class="habbit-card__attr-item">
							<h6>Площадь номера</h6>
							<p class=""><span class="gradient-text">34 м</span><sup><span class="gradient-text">2</span></sup></p>
							</div>
							<div class="habbit-card__attr-item">
							<h6>Вместимость</h6>
							<p class="gradient-text">1 человек</p>
							</div>
							<div class="habbit-card__attr-item">
							<h6>Удобства</h6>
							<p class="gradient-text">Двуспальная кровать KING SIZE 180х200</p>
							</div>
						</div>
						<div class="habbit-card__buttons">
							<button class="button" onclick="location.href='/booking.html?tl-booking-open=true&room-type=228811'">Забронировать</button><a class="gradient-text" href="rooms.html">Все номера</a>
						</div>                       
						</div>
						<div class="habbit-card__slide swiper-slide" data-filter="chalet">
						<h3 class="habbit-card__lvl gradient-text">CHALET</h3>
						<p class="habbit-card__desc gradient-text">100 квадратных метров общего пространства с дизайном в стиле альпийский деревни на берегу реки Карымшина, с собственным термальным бассейном и шикарным видом на Вилючинский вулкан.</p>
						<div class="habbit-card__attr">
							<div class="habbit-card__attr-item">
							<h6>Площадь номера</h6>
							<p class=""><span class="gradient-text">100 м</span><sup><span class="gradient-text">2</span></sup></p>
							</div>
							<div class="habbit-card__attr-item">
							<h6>Вместимость</h6>
							<p class="gradient-text">2 комнаты</p>
							</div>
							<div class="habbit-card__attr-item">
							<h6>Удобства</h6>
							<p class="gradient-text">Двуспальная кровать KING SIZE 180х200</p>
							</div>
						</div>
							<div class="habbit-card__buttons">
							<button class="button" onclick="location.href='/booking.html?tl-booking-open=true&room-type=228813'">Забронировать</button><a class="gradient-text" href="rooms.html">Все номера</a>
						</div>                       
						</div>
					</div>
					</div>
			
				</div>
				<div class="habbit-card__info-foot">
					<div class="habbit-card__info-progress">
					<p id="habbit-cur-slide"> </p>
					<div></div>
					<p id="habbit-count-slides"> </p>
					</div>
					<div class="habbit-card__info-foot-but">
					<svg id="habbit-swiper-prev" width="67" height="67" viewBox="0 0 67 67" xmlns="http://www.w3.org/2000/svg">
						<circle cx="32.5" cy="34.5" r="31.5" stroke-width="2"></circle>
						<path d="M34.059 28.4971L27.8223 34.7338L34.059 40.9705" stroke-width="2" stroke-linecap="square"></path>
					</svg>
					<svg id="habbit-swiper-next" width="67" height="67" viewBox="0 0 67 67" xmlns="http://www.w3.org/2000/svg">
						<circle cx="32.5" cy="32.5" r="31.5" transform="matrix(-1 0 0 1 67 2)" stroke-width="2"></circle>
						<path d="M32.941 28.4971L39.1777 34.7338L32.941 40.9705" stroke-width="2" stroke-linecap="square"></path>
					</svg>
					</div>
				</div>
				</div>
			</div>
			</div>
		</section>
		//- section.bering(data-aos="fade-up")
		//- 	.container
		//- 		h1.bering__title.title Ресторан «Беринг»
		//- 		.swiper#bering-swiper
		//- 			.swiper-wrapper
		//- 				img.swiper-slide(src='img/bering_img-03.webp', alt='bering image')
		//- 				img.swiper-slide(src='img/bering_img-02.webp', alt='bering image')
		//- 				.bering-card.swiper-slide
		//- 					h2.bering-card__title Высокая кухня:
		//- 					p.bering-card__text Классические блюда дополнены оригинальными продуктами края и ретроспективно погружают гостя в эпоху освоения Камчатки.
								
		//- 				img.swiper-slide(src='img/bering_img-01.webp', alt='bering image')
		//- 				img.swiper-slide(src='img/bering_img-04.webp', alt='bering image')
		//- 			svg.swiper-button-prev#bering-swiper-prev(width='67', height='67', viewBox='0 0 67 67', xmlns='http://www.w3.org/2000/svg')
		//- 				circle(cx='32.5', cy='34.5', r='31.5', stroke-width='2')
		//- 				path(d='M34.059 28.4971L27.8223 34.7338L34.059 40.9705', stroke-width='2', stroke-linecap='square')
		//- 			svg.swiper-button-next#bering-swiper-next(width='67', height='67', viewBox='0 0 67 67', xmlns='http://www.w3.org/2000/svg')
		//- 				circle(cx='32.5', cy='32.5', r='31.5', transform='matrix(-1 0 0 1 67 2)', stroke-width='2')
		//- 				path(d='M32.941 28.4971L39.1777 34.7338L32.941 40.9705', stroke-width='2', stroke-linecap='square')
		//- 		button.bering__button.button Подробнее о ресторане	
		//- section.services(data-aos="fade-up")
		//- 	.container
		//- 		h1.services__title.title УСЛУГИ
		//- 		.services__swipers-wrap
		//- 			.swiper#services-img-swiper
		//- 				.swiper-wrapper
		//- 					img.swiper-slide(src='img/services_img-01.webp', alt='service image')
		//- 					img.swiper-slide(src='img/services_img-02.webp', alt='service image')
		//- 					img.swiper-slide(src='img/services_img-02.webp', alt='service image')
		//- 					img.swiper-slide(src='img/services_img-02.webp', alt='service image')
		//- 					img.swiper-slide(src='img/services_img-02.webp', alt='service image')
		//- 			.swiper#services-info-swiper
		//- 				.swiper-wrapper
		//- 					.service.swiper-slide
		//- 						hr
		//- 						h2.service__title Термальный бассейн
									
		//- 						p.service__text Классические блюда дополнены оригинальными продуктами края и ретроспективно погружают гостя в эпоху освоения Камчатки.
									
		//- 						button.service__button.button Подробнее
									
		//- 					.service.swiper-slide
		//- 						hr
		//- 						h2.service__title Банный комплекс
		//- 						p.service__text Классические блюда дополнены оригинальными продуктами края и ретроспективно погружают гостя в эпоху освоения Камчатки.
									
		//- 						button.service__button.button Подробнее
									
		//- 					.service.swiper-slide
		//- 						hr
		//- 						h2.service__title Спа-кабинеты
		//- 						p.service__text Классические блюда дополнены оригинальными продуктами края и ретроспективно погружают гостя в эпоху освоения Камчатки.
									
		//- 						button.service__button.button Подробнее
									
		//- 					.service.swiper-slide
		//- 						hr
		//- 						h2.service__title Тренажёрный зал
		//- 						p.service__text Классические блюда дополнены оригинальными продуктами края и ретроспективно погружают гостя в эпоху освоения Камчатки.
									
		//- 						button.service__button.button Подробнее
									
		//- 					.service.swiper-slide
		//- 						hr
		//- 						h2.service__title Икорная лавка
		//- 						p.service__text Классические блюда дополнены оригинальными продуктами края и ретроспективно погружают гостя в эпоху освоения Камчатки.
									
		//- 						button.service__button.button Подробнее
									
		//- 		.swiper#services-thumb-swiper
		//- 			.swiper-wrapper
		//- 				.swiper-slide(style='background-image: url(img/services_img-01.webp);')
		//- 					.filter
		//- 					.timer
		//- 					p Термальный бассейн
		//- 				.swiper-slide(style='background-image: url(img/services_img-02.webp);')
		//- 					.filter
		//- 					.timer
		//- 					p Банный комплекс
		//- 				.swiper-slide(style='background-image: url(img/services_img-02.webp);')
		//- 					.filter
		//- 					.timer
		//- 					p Спа-кабинеты
		//- 				.swiper-slide(style='background-image: url(img/services_img-02.webp);')
		//- 					.filter
		//- 					.timer
		//- 					p Тренажёрный зал
		//- 				.swiper-slide(style='background-image: url(img/services_img-02.webp);')
		//- 					.filter
		//- 					.timer
		//- 					p Икорная лавка
		//- section.tours#tours(data-aos="fade-up")
		//- 	.tours__bg
		//- 		img(src='img/tours_bg.webp', alt='background tour')
		//- 		.filter
		//- 	.tours__title.title.gradient-text#tours-title(style='opacity: 0; top: 100') Туры
				
		//- 	.container
		//- 		p.tours__grandtext#tours-grandtext(style='opacity: 0')
		//- 			|  Вы будете поражены уникальной

		//- 			span природой Камчатки, её суровой красотой и многообразием.
						
		//- 		p.tours__text Посетить Долину гейзеров и природный парк Налычево или запечатлеть незабываемую красоту водопада живого вулкана Мутновский с борта нашего 6–местного вертолета Euroсopter.
					
		//- 		.tours__swiper-box
		//- 			.swiper#tours-card-swiper
		//- 				.swiper-wrapper
		//- 					.tour-card.swiper-slide(style='background-image: url(img/tour_card-01.webp);')
		//- 						.tour-card__filter-bg
		//- 						.tour-card__filter-text
		//- 						h3.tour-card__title тур №1
		//- 						p.tour-card__text Гостей отеля ждут тридцать два роскошных номера, включая два номера класса «люкс», способных удовлетворить самые
									
		//- 						button.tour-button.button Подробнее о туре
									
		//- 					.tour-card.swiper-slide(style='background-image: url(img/tour_card-02.webp);')
		//- 						.tour-card__filter-bg
		//- 						.tour-card__filter-text
		//- 						h3.tour-card__title тур №2
		//- 						p.tour-card__text Гостей отеля ждут тридцать два роскошных номера, включая два номера класса «люкс», способных удовлетворить самые
									
		//- 						button.tour-button.button Подробнее о туре
									
		//- 					.tour-card.swiper-slide(style='background-image: url(img/tour_card-02.webp);')
		//- 						.tour-card__filter-bg
		//- 						.tour-card__filter-text
		//- 						h3.tour-card__title тур №3
		//- 						p.tour-card__text Гостей отеля ждут тридцать два роскошных номера, включая два номера класса «люкс», способных удовлетворить самые
									
		//- 						button.tour-button.button Подробнее о туре
									
		//- 			svg.swiper-button-prev#tours-swiper-prev(width='67', height='67', viewBox='0 0 67 67', xmlns='http://www.w3.org/2000/svg')
		//- 				circle(cx='32.5', cy='34.5', r='31.5', stroke-width='2')
		//- 				path(d='M34.059 28.4971L27.8223 34.7338L34.059 40.9705', stroke-width='2', stroke-linecap='square')
		//- 			svg.swiper-button-next#tours-swiper-next(width='67', height='67', viewBox='0 0 67 67', xmlns='http://www.w3.org/2000/svg')
		//- 				circle(cx='32.5', cy='32.5', r='31.5', transform='matrix(-1 0 0 1 67 2)', stroke-width='2')
		//- 				path(d='M32.941 28.4971L39.1777 34.7338L32.941 40.9705', stroke-width='2', stroke-linecap='square')
		