#popup-service.popup-sl
	.popup-sl__flex
		.popup-sl__overlay
		.popup-sl__content
			.popup-sl__close
				<svg   viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M1 1L47 47M1 47L47 1" stroke="white"/>
				</svg>

			.swiper.p-slider-service
				.swiper-wrapper 
					#service-1.swiper-slide
						.p-slider-service__img
							.p-slider-service__swiper.swiper 
								.swiper-wrapper 
									.swiper-slide
										+picture('serv-1','jpg')
									.swiper-slide
										+picture('serv-2','jpg')
									.swiper-slide
										+picture('serv-3','jpg')
									.swiper-slide
										+picture('serv-4','jpg')
								.p-slider-service__nav 
									.p-slider-service__nav-prev 
										<svg viewBox="0 0 51 51" fill="none" xmlns="http://www.w3.org/2000/svg">
											<circle cx="24.375" cy="26.25" r="23.875" stroke="white"/>
											<path d="M25.5442 21.7475L20.8667 26.425L25.5442 31.1026" stroke="white" stroke-linecap="square"/>
										</svg>
									.p-slider-service__nav-next
										<svg viewBox="0 0 51 51" fill="none" xmlns="http://www.w3.org/2000/svg">
											<circle cx="24.375" cy="24.375" r="23.875" transform="matrix(-1 0 0 1 50.25 1.875)" stroke="white"/>
											<path d="M24.7058 21.7475L29.3833 26.425L24.7058 31.1026" stroke="white" stroke-linecap="square"/>
										</svg>
						.p-slider-service__content 
							.p-slider-service__pre-title Услуга
							.p-slider-service__title Термальный бассейн
							p 
								b От встречи в аэропорту — до полного расслабления в СПА-комплексе. 
								br
								| Мы заботимся о том, чтобы вы наслаждались комфортом на протяжении всего пребывания в Камчатка Шале. 

							p Для любителей 
								b традиционного русского отдыха — баня 
								| с чаем, вениками и ледяной купелью с видом на вулканы и звездное небо. А для медленного медитативного расслабления к вашим услугам 
								b сауна  
								| и  
								b турецкий хамам.  

							p 
								i «Первое знакомство с Камчаткой происходит тогда, когда погружаешься в ледяную воду после бани, выныриваешь и на первом вдохе видишь всю эту красоту вокруг так четко и ясно, словно только что родился».

					#service-2.swiper-slide
						.p-slider-service__img
							.p-slider-service__swiper.swiper 
								.swiper-wrapper 
									.swiper-slide
										+picture('serv-2','jpg')
									.swiper-slide
										+picture('serv-1','jpg')
									.swiper-slide
										+picture('serv-3','jpg')
									.swiper-slide
										+picture('serv-4','jpg')
								.p-slider-service__nav 
									.p-slider-service__nav-prev 
										<svg viewBox="0 0 51 51" fill="none" xmlns="http://www.w3.org/2000/svg">
											<circle cx="24.375" cy="26.25" r="23.875" stroke="white"/>
											<path d="M25.5442 21.7475L20.8667 26.425L25.5442 31.1026" stroke="white" stroke-linecap="square"/>
										</svg>
									.p-slider-service__nav-next
										<svg viewBox="0 0 51 51" fill="none" xmlns="http://www.w3.org/2000/svg">
											<circle cx="24.375" cy="24.375" r="23.875" transform="matrix(-1 0 0 1 50.25 1.875)" stroke="white"/>
											<path d="M24.7058 21.7475L29.3833 26.425L24.7058 31.1026" stroke="white" stroke-linecap="square"/>
										</svg>
						.p-slider-service__content 
							.p-slider-service__pre-title Услуга
							.p-slider-service__title Банный комплекс
							p
								b Термальная вода с минерализацией 30, звездное небо, вулканы и вы.
								br 
								| Идеальное завершение дня после насыщенной вертолетной прогулки или хайкинга. Полное расслабление мышц всего тела и нервной системы. 
							p 
								i «Это было изумительно, когда всей семьей мы вместе плавали в бассейне. Дети резвились в игровой зоне, а мы с женой долго отмокали в джакузи. По сути это и есть термальный источник, только в виде комфортного бассейна».
					#service-3.swiper-slide
						.p-slider-service__img
							.p-slider-service__swiper.swiper 
								.swiper-wrapper 
									.swiper-slide
										+picture('serv-3','jpg')
									.swiper-slide
										+picture('serv-2','jpg')
									.swiper-slide
										+picture('serv-1','jpg')
									.swiper-slide
										+picture('serv-4','jpg')
								.p-slider-service__nav 
									.p-slider-service__nav-prev 
										<svg viewBox="0 0 51 51" fill="none" xmlns="http://www.w3.org/2000/svg">
											<circle cx="24.375" cy="26.25" r="23.875" stroke="white"/>
											<path d="M25.5442 21.7475L20.8667 26.425L25.5442 31.1026" stroke="white" stroke-linecap="square"/>
										</svg>
									.p-slider-service__nav-next
										<svg viewBox="0 0 51 51" fill="none" xmlns="http://www.w3.org/2000/svg">
											<circle cx="24.375" cy="24.375" r="23.875" transform="matrix(-1 0 0 1 50.25 1.875)" stroke="white"/>
											<path d="M24.7058 21.7475L29.3833 26.425L24.7058 31.1026" stroke="white" stroke-linecap="square"/>
										</svg>
						.p-slider-service__content 
							.p-slider-service__pre-title Услуга
							.p-slider-service__title Спа-кабинеты
							p
								b Уход и забота о себе в условиях экстремального отдыха. 
								| В перерывах между экспедициями у вас всегда есть возможность расслабиться и дать своему телу необходимое внимание: массажи, косметические процедуры, маски и обертывания для лица и тела, парикмахерские услуги и ногтевой сервис. 
					#service-4.swiper-slide
						.p-slider-service__img
							.p-slider-service__swiper.swiper 
								.swiper-wrapper 
									.swiper-slide
										+picture('serv-4','jpg')
									.swiper-slide
										+picture('serv-4','jpg')
									.swiper-slide
										+picture('serv-4','jpg')
									.swiper-slide
										+picture('serv-4','jpg')
								.p-slider-service__nav 
									.p-slider-service__nav-prev 
										<svg viewBox="0 0 51 51" fill="none" xmlns="http://www.w3.org/2000/svg">
											<circle cx="24.375" cy="26.25" r="23.875" stroke="white"/>
											<path d="M25.5442 21.7475L20.8667 26.425L25.5442 31.1026" stroke="white" stroke-linecap="square"/>
										</svg>
									.p-slider-service__nav-next
										<svg viewBox="0 0 51 51" fill="none" xmlns="http://www.w3.org/2000/svg">
											<circle cx="24.375" cy="24.375" r="23.875" transform="matrix(-1 0 0 1 50.25 1.875)" stroke="white"/>
											<path d="M24.7058 21.7475L29.3833 26.425L24.7058 31.1026" stroke="white" stroke-linecap="square"/>
										</svg>
						
						.p-slider-service__content 
							.p-slider-service__pre-title Услуга
							.p-slider-service__title  ТРЕНАЖЕРНЫЙ ЗАЛ 
							p
								b Сила, мощь и красота природы вдохновляют на личные подвиги. 
								br
								| Тренажерный зал с панорамным видом на вулканы поможет поддержать себя в форме в перерывах между трекингом, а также справится с джетлагом и минимизировать стресс, связанный с длительным перелетом.
					
					#service-5.swiper-slide
						.p-slider-service__img
							.p-slider-service__swiper.swiper 
								.swiper-wrapper 
									.swiper-slide
										+picture('serv-5','jpg')
									.swiper-slide
										+picture('serv-2','jpg')
									.swiper-slide
										+picture('serv-3','jpg')
									.swiper-slide
										+picture('serv-4','jpg')
								.p-slider-service__nav 
									.p-slider-service__nav-prev 
										<svg viewBox="0 0 51 51" fill="none" xmlns="http://www.w3.org/2000/svg">
											<circle cx="24.375" cy="26.25" r="23.875" stroke="white"/>
											<path d="M25.5442 21.7475L20.8667 26.425L25.5442 31.1026" stroke="white" stroke-linecap="square"/>
										</svg>
									.p-slider-service__nav-next
										<svg viewBox="0 0 51 51" fill="none" xmlns="http://www.w3.org/2000/svg">
											<circle cx="24.375" cy="24.375" r="23.875" transform="matrix(-1 0 0 1 50.25 1.875)" stroke="white"/>
											<path d="M24.7058 21.7475L29.3833 26.425L24.7058 31.1026" stroke="white" stroke-linecap="square"/>
										</svg>
						.p-slider-service__content 
							.p-slider-service__pre-title Услуга
							.p-slider-service__title  Икорная лавка
							p
								b Продлить вкус Камчатки и разделить его с близкими. 
								br
								| В сувенирной лавке в изобилии представлены дары края: копченая рыба, икра, крабы и морепродукты. Удивите друзей и поделитесь с ними впечатлениями о насыщенном гастрономическом путешествии. Мы всегда рады помочь с выбором деликатесов и позаботится о бережной упаковке.

							p Кроме того, мы предлагаем широкий выбор натуральных БАДов для здоровья и благополучия, в том числе 
								b ОМЕГА-3 из дикого камчатского лосося.
								| Эти продукты станут хорошим выражением заботы о здоровье ваших близки


#popup-tours.popup-sl
	.popup-sl__flex
		.popup-sl__overlay
		.popup-sl__content
			.popup-sl__close
				<svg   viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M1 1L47 47M1 47L47 1" stroke="white"/>
				</svg>

			.swiper.p-slider-tour
				.swiper-wrapper 
					#tour-1.swiper-slide
						.p-slider-tour__img
							.p-slider-tour__swiper.swiper 
								.swiper-wrapper 
									.swiper-slide
										+picture('t-1','jpg')
									.swiper-slide
										+picture('t-2','jpg')
									.swiper-slide
										+picture('t-3','jpg')
									.swiper-slide
										+picture('t-4','jpg')
								.p-slider-tour__nav 
									.p-slider-tour__nav-prev 
										<svg viewBox="0 0 51 51" fill="none" xmlns="http://www.w3.org/2000/svg">
											<circle cx="24.375" cy="26.25" r="23.875" stroke="white"/>
											<path d="M25.5442 21.7475L20.8667 26.425L25.5442 31.1026" stroke="white" stroke-linecap="square"/>
										</svg>
									.p-slider-tour__nav-next
										<svg viewBox="0 0 51 51" fill="none" xmlns="http://www.w3.org/2000/svg">
											<circle cx="24.375" cy="24.375" r="23.875" transform="matrix(-1 0 0 1 50.25 1.875)" stroke="white"/>
											<path d="M24.7058 21.7475L29.3833 26.425L24.7058 31.1026" stroke="white" stroke-linecap="square"/>
										</svg>
					
						.p-slider-tour__content 
							.p-slider-tour__pre-title Тур
							.p-slider-tour__title ОТКРЫВАЯ КАМЧАТКУ
							p Гостей отеля ждут тридцать два роскошных номера, включая два номера класса «люкс», способных удовлетворить самые
					
					#tour-2.swiper-slide
						.p-slider-tour__img
							.p-slider-tour__swiper.swiper 
								.swiper-wrapper 
									.swiper-slide
										+picture('t-2','jpg')
									.swiper-slide
										+picture('t-1','jpg')
									.swiper-slide
										+picture('t-3','jpg')
									.swiper-slide
										+picture('t-4','jpg')
								.p-slider-tour__nav 
									.p-slider-tour__nav-prev 
										<svg viewBox="0 0 51 51" fill="none" xmlns="http://www.w3.org/2000/svg">
											<circle cx="24.375" cy="26.25" r="23.875" stroke="white"/>
											<path d="M25.5442 21.7475L20.8667 26.425L25.5442 31.1026" stroke="white" stroke-linecap="square"/>
										</svg>
									.p-slider-tour__nav-next
										<svg viewBox="0 0 51 51" fill="none" xmlns="http://www.w3.org/2000/svg">
											<circle cx="24.375" cy="24.375" r="23.875" transform="matrix(-1 0 0 1 50.25 1.875)" stroke="white"/>
											<path d="M24.7058 21.7475L29.3833 26.425L24.7058 31.1026" stroke="white" stroke-linecap="square"/>
										</svg>
					

						.p-slider-tour__content 
							.p-slider-tour__pre-title Тур
							.p-slider-tour__title паря над жерлом
							p Гостей отеля ждут тридцать два роскошных номера, включая два номера класса «люкс», способных удовлетворить самые
					
					#tour-3.swiper-slide
						.p-slider-tour__img
							.p-slider-tour__swiper.swiper 
								.swiper-wrapper 
									.swiper-slide
										+picture('t-3','jpg')
									.swiper-slide
										+picture('t-2','jpg')
									.swiper-slide
										+picture('t-1','jpg')
									.swiper-slide
										+picture('t-4','jpg')
								.p-slider-tour__nav 
									.p-slider-tour__nav-prev 
										<svg viewBox="0 0 51 51" fill="none" xmlns="http://www.w3.org/2000/svg">
											<circle cx="24.375" cy="26.25" r="23.875" stroke="white"/>
											<path d="M25.5442 21.7475L20.8667 26.425L25.5442 31.1026" stroke="white" stroke-linecap="square"/>
										</svg>
									.p-slider-tour__nav-next
										<svg viewBox="0 0 51 51" fill="none" xmlns="http://www.w3.org/2000/svg">
											<circle cx="24.375" cy="24.375" r="23.875" transform="matrix(-1 0 0 1 50.25 1.875)" stroke="white"/>
											<path d="M24.7058 21.7475L29.3833 26.425L24.7058 31.1026" stroke="white" stroke-linecap="square"/>
										</svg>
					

						.p-slider-tour__content 
							.p-slider-tour__pre-title Тур
							.p-slider-tour__title СИЛА ПРИРОДЫ
							p Гостей отеля ждут тридцать два роскошных номера, включая два номера класса «люкс», способных удовлетворить самые
					
					#tour-4.swiper-slide
						.p-slider-tour__img
							.p-slider-tour__swiper.swiper 
								.swiper-wrapper 
									.swiper-slide
										+picture('t-4','jpg')
									.swiper-slide
										+picture('t-2','jpg')
									.swiper-slide
										+picture('t-3','jpg')
									.swiper-slide
										+picture('t-1','jpg')
								.p-slider-tour__nav 
									.p-slider-tour__nav-prev 
										<svg viewBox="0 0 51 51" fill="none" xmlns="http://www.w3.org/2000/svg">
											<circle cx="24.375" cy="26.25" r="23.875" stroke="white"/>
											<path d="M25.5442 21.7475L20.8667 26.425L25.5442 31.1026" stroke="white" stroke-linecap="square"/>
										</svg>
									.p-slider-tour__nav-next
										<svg viewBox="0 0 51 51" fill="none" xmlns="http://www.w3.org/2000/svg">
											<circle cx="24.375" cy="24.375" r="23.875" transform="matrix(-1 0 0 1 50.25 1.875)" stroke="white"/>
											<path d="M24.7058 21.7475L29.3833 26.425L24.7058 31.1026" stroke="white" stroke-linecap="square"/>
										</svg>
					

						.p-slider-tour__content 
							.p-slider-tour__pre-title Тур
							.p-slider-tour__title в поисках горбатого кита
							p Гостей отеля ждут тридцать два роскошных номера, включая два номера класса «люкс», способных удовлетворить самые
					